version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production
      PORT: 5000
      MONGO_URI: mongodb://mongo:27017/recipe_app
      JWT_SECRET: ${JWT_SECRET}
      CORS_ORIGIN: http://localhost:80,http://frontend:80,http://192.168.1.52:80,http://server:80
      GROQ_API_KEY: ${GROQ_API_KEY}
    depends_on:
      - mongo
    restart: unless-stopped
    volumes:
      - ./backend/src/data:/app/src/data:cached

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://backend:5000
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  mongo_data:
    driver: local