services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production
      PORT: 5000
      MONGO_URI: mongodb://mongo:27017/recipe_app
      JWT_SECRET: 28d1db929200661e603b713d9914c202
      CORS_ORIGIN: http://localhost:5173,http://frontend:5173,http://192.168.1.52:5173,http://server:5173
    depends_on:
      - mongo
    restart: unless-stopped
    volumes:
      - ./backend/src/data:/app/src/data:cached

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://backend:5000
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  mongo_data:
    driver: local
